/* @font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Black.ttf");
} */

body {
    font-family: poppins;
    background-color: #0E1116;
}

/*! START Navbar styles */
.navbar {
    /* background-color: #503390; */
}

/*! END Navbar styles */


/*todo START Home Page styles */
/*! START Home Header styles */
.home-content {
    /* background-image: url("../images/h_bg-1.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto; */
    width: 100%;
}

.home-content .home-hero-header {
    position: relative;
    /* background-image: url("../images/purple-pattern.jpg"); */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 120vh;
    width: 100%;
    height: 120vh;
    /* background-color: #503390; */
}

.home-content .home-hero-header video {
    width: 100%;
    height: 100%;
    position: absolute;
}

.home-content .home-hero-header .filter-pattern {
    width: 100%;
    height: 100%;
    /* background: #5033906a; */
    /* background: #0e111684; */
    /* background: #0e1116cd; */
    background: #08090c;
    backdrop-filter: blur(40px);
    /* background-color: #090C0F; */
    /* background-image: url("../images/—Pngtree—abstract purple wave stylish background_5777391.png"); */
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
}

.home-content .home-hero-header .filter-pattern .bottom-pattern {
    width: 100%;
    height: 12%;
    background: linear-gradient(to bottom, #0e111600, #0E1116);
    position: absolute;
    bottom: 0;
}


.home-content .home-hero-header h2 {
    font-size: 1.9rem;
    font-weight: 600;
    color: #e0e0e0;
}

.home-content .home-hero-header h3 {
    font-size: 1.25rem;
    /* font-weight: 600; */
    color: #bebebec6;
}



.home-content .home-hero-header .header-inbox {
    background-color: #0e111667;
    padding: 1rem .5rem;
    border-radius: 40px;
    border: .1rem solid #7b59c5bd;
}

.home-content .home-hero-header button {
    background-color: rgba(255, 255, 255, 0.177);
    border-radius: 40px;
    padding: .55rem 1.2rem;
    background: linear-gradient(330deg, #452981, #7b59c5);
    color: #fff;
    border: 2px solid #4f2f94;
    border-radius: 40px;
    margin-left: 10px;
    font-size: .95em;
}

.home-content .home-hero-header button:focus {
    outline: none !important;
}

.home-content .home-hero-header input {
    background-color: transparent;
    border-radius: 40px;
    height: 100%;
    padding: .85rem .85rem .85rem .95rem;
    color: #e0e0e0;
    font-size: .9rem;
}

.home-content .home-hero-header input:focus {
    outline: none !important;
}

.home-content .home-hero-header input::placeholder {
    color: #d0d0d0 !important;
    font-size: .9rem;
}



.home-content .home-hero-header .home-feature {
    display: grid;
}

.home-content .home-hero-header .home-feature .feature-item {
    display: flex;
    padding-left: .7rem;
    padding-right: .7rem;
}

.home-content .home-hero-header .home-feature .feature-item i {
    color: #e0e0e0cf;
}

.home-content .home-hero-header .home-feature .feature-item h3 {
    color: #e0e0e0;
    font-size: 1.15rem;
    margin-bottom: .5rem;
}

.home-content .home-hero-header .home-feature .feature-item p {
    color: #e0e0e0b5;
    font-size: .8rem;
}

.home-content .home-hero-header .home-feature .feature-item .info {
    flex-grow: 1;
    margin-left: 15px;
    ;
}

/** Handle responsive font size */
@media screen and (max-width:770px) {
    .home-content .home-hero-header h2 {
        font-size: 1.75rem;
        /* font-weight: 600; */
    }

    .home-content .home-hero-header h3 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width:600px) {
    .home-content .home-hero-header h2 {
        font-size: 1.55rem;
        /* font-weight: 600; */
    }

    .home-content .home-hero-header h3 {
        font-size: 1rem;
    }

    .home-content .home-hero-header input {
        padding: .3rem 1.2rem !important;
    }

    .home-content .home-hero-header button {
        padding: .3rem 1rem !important;
    }
}

@media screen and (max-width:600px) {
    .home-content .home-hero-header input {
        width: 100% !important;
    }

    .home-content .home-hero-header button {
        margin-top: 1rem;
    }
}

@media screen and (max-width:643px) {
    .home-content .home-hero-header .header-inbox {
        padding: .6rem .5rem;
    }

    .home-content .home-hero-header button {
        padding: .65rem 1.2rem !important;
        margin-bottom: .5rem;
    }
}

/** Handle responsive font size */
/*? END Home Header styles */



/*! START Home Chart styles */
section#home-chart-container {
    margin-top: 170px;
}

section#home-chart-container .info-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

section#home-chart-container h2 {
    font-size: 36px;
    font-weight: 700;
    background: -webkit-linear-gradient(310deg, #3b1f95, #402a89de, #1561a4, #1c69ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width:900px) {
    section#home-chart-container h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:767px) {
    section#home-chart-container h2 {
        font-size: 30px;
    }
}

section#home-chart-container p {
    color: #a6a6a6;
}

section#home-chart-container button {
    /* background: linear-gradient(10deg, #3b1f95, #402a89de); */
    border: 2px solid #3b1f95;
    font-weight: normal;
    color: #503c92;
    font-size: 1.08em;
    padding: 5px 25px;
    transition: all .3s;
}

section#home-chart-container button:hover {
    background: linear-gradient(310deg, #3d1bad, #402a89);
    /* border: 2px solid transparent; */
    /* background: #3b1f95; */
    color: #ffffffd0;
}

section#home-chart-container img {
    border-radius: 7px;
}

/*? END Home Chart styles */



/*! START Home Reporter styles */
section#home-reporter-container {
    margin-top: 170px;
    /* background: -webkit-linear-gradient(310deg, #3b1f95, #1561a4); */
    background: linear-gradient(300deg, #3b1f95, #503390, #1A207E);
    background-size: 180% 180%;
    animation: gradient-animation 13s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

section#home-reporter-container .info-section {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

section#home-reporter-container h2 {
    font-size: 33px;
    font-weight: 600;
    color: #fff;
}

@media screen and (max-width:900px) {
    section#home-reporter-container h2 {
        font-size: 30px;
    }
}

@media screen and (max-width:767px) {
    section#home-reporter-container h2 {
        font-size: 30px;
    }
}

section#home-reporter-container p {
    color: #a6a6a6;
}

section#home-reporter-container button {
    /* background: linear-gradient(10deg, #3b1f95, #402a89de); */
    border: 2px solid #cecece;
    font-weight: normal;
    color: #cecece;
    font-size: 1.08em;
    margin-top: 5px;
    padding: 5px 25px;
    transition: all .3s;
}

section#home-reporter-container button:hover {
    /* background: linear-gradient(310deg, #3d1bad, #402a89); */
    background: #cecece;
    color: #503c92;
    /* color: #ffffffd0; */
}

section#home-reporter-container img {
    border-radius: 7px;
}

/*? END Home Art styles */




/*! START Home Services styles */

section#home-services-container {
    margin-top: 100px;
    /* background: linear-gradient(); */
}


section#home-services-container h3 {
    margin-top: 100px;
    color: #fff;
    font-weight: 640;
    font-size: 30px;
}

.home-services-content {
    display: grid;
    grid-column: 2;
    margin-top: 40px;
}

.home-services-content .services-items {
    background-color: transparent;
    background-image: linear-gradient(121deg, #FFFFFF0D 25%, #209CFA24 100%);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 25px 25px;
    transition: all .2s;
    display: flex;
}

.badge-purple {
    background-color: #7B59C5;
    color: #fff !important;
    font-size: 0.75em !important;
    padding: 2px 10px;
    border-radius: 20px;
    display: inline-block;
}


.home-services-content .services-items h2 {
    font-weight: 700;
    font-size: 24px;
    color: #7B59C5;
}

.home-services-content .services-items p {
    color: #bdbdbd;
    font-size: 13px;
}

.home-services-content .services-items img {
    width: 160px !important;
    height: 160px !important;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(45deg);
    transition: all .4s;
}

.home-services-content .services-items:hover img {
    filter: none;
}

/*? END Home styles */

/*! START Footer styles */
footer {
    background: url("../images/world-pattern.png") no-repeat;
    background-size: cover;
    background-color: #090C0F;
    margin-top: 60px;
    padding: 55px 0;
}

.footer-social-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-social-items {
    width: 36px;
    height: 36px;
    margin: 0 4px 10px 4px;
    background-color: #16191f;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s;
}

.footer-social-items:hover {
    background-color: #492F83;
}

footer ul li {
    color: #fff;
    font-size: 0.9em;
    margin-bottom: 10px;
    transition: color .3s;

}

footer ul li:hover {
    color: #644AA1;
}

/*? END Footer styles */
/*todo END Home Page styles */










/*todo START Customize Page styles */
/*! START Customize styles */
.customize-container {
    /* background: linear-gradient(300deg, #3b1f95, #503390); */
    background: linear-gradient(300deg, #3b1f95, #5a3b9e, #1A207E);
    background-size: 180% 180%;
    animation: gradient-animation 14s ease infinite;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* border: 4px solid;
border-image-slice: 1;
border-image-source: linear-gradient(290deg, #743ad5, #d53a9d); */
.customize-container .customize-content {
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 20px;
}

.customize-container .customize-content .button-group {
    display: flex;
    margin-bottom: 2.3rem;
}

.customize-container .customize-content .button-items {
    /* background-color: #5c3da0;
    color: #fff; */
    font-weight: 500;
    color: #3E4676;
    font-size: .85rem;
    padding: .4rem .8rem;
    border-radius: 5px;
}

.customize-container .customize-content .button-items:focus {
    outline: none !important;
}


.customize-container .customize-content h3 {
    color: #3E4676;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}

.customize-container .customize-content .option-group .option-item {
    border: 1px solid #d3e0e9;
    border-radius: 5px;
    padding: 10px 13px;
    display: flex;
    cursor: pointer;
}

.customize-container .customize-content .option-group .option-item p {
    font-size: .83rem;
    font-weight: 500;
    color: #3E4676;
}

.customize-container .customize-content .option-group .option-item span {
    font-size: .75rem;
    color: #6e7da2;
}

.customize-container .customize-content .option-group .option-item .option-title {
    flex-grow: 1;
    margin-left: .5rem;
}

.customize-container .customize-content .option-group .option-item .checkmark-icon {
    width: 20px;
    height: 20px;
    /* font-size: ; */
    border-radius: 100%;
    border: 2.5px solid #bfc5c9;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*? END Customize styles */
/*todo END Customize Page styles */


/*! START Progress styles */
.progress-container {
    padding: 1rem;
    /* background: #ffffff2c; */
    /* background: ; */
    display: flex;
    justify-content: center;
}

.progress-container .progress-item {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(204, 0, 255, 0.45);
    border-radius: 100%;
    cursor: pointer;
}

.progress-container .active {
    background: linear-gradient(137deg, #E601FF -55.66%, #EB00FF 20.56%, #9439CE 88.75%) !important;
    border: none;
}

.progress-container .current {
    border-color: #E601FF;
}

.progress-container .progress-item span {
    color: rgba(204, 0, 255, 0.45);
    font-size: 1.2rem;
    font-weight: 500;
}

.progress-container .progress-line {
    height: 2px;
    width: 100px;
    background:rgba(204, 0, 255, 0.45);
}

/*! END Progress styles */
.top-bar{
    width: 100%;
    height: 300px;
    background-color: blue;
}