/* @font-face {
    font-family: poppins;
    src: url("../fonts/Poppins-Black.ttf");
} */

body {
    font-family: poppins;
    background-color: #0E1116;
}


/*! START Footer styles */
footer {
    background-color: #090C0F;
    margin-top: 60px;
    padding: 55px 0;
}

.footer-social-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-social-items {
    width: 36px;
    height: 36px;
    margin: 0 4px 10px 4px;
    background-color: #16191f;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .25s;
}

.footer-social-items:hover {
    background-color: #492F83;
}

footer ul li {
    color: #fff;
    font-size: 0.9em;
    margin-bottom: 10px;
    transition: color .3s;

}

footer ul li:hover {
    color: #644AA1;
}

/*? END Footer styles */